* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.header {
  background: radial-gradient(100% 100% at 50% 0%, #0099c7 0%, #007294 100%);
  width: 100%;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 42px 0;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
}
.menu a {
  display: inline-block;
  text-decoration: none;
  margin-left: 40px;
  font-family: Avenir Next, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.blok1 {
  background: #f2f2f2;
}
.blok1_wrapper {
  display: flex;
  justify-content: space-around;
  padding-bottom: 190px;
}
.blok1_text {
  width: 470px;
}
.blok1_img {
  width: 370px;
  padding-top: 98px;
}
.top_paragraf {
  font-family: Avenir Next, sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #61727b;
  padding-top: 80px;
}
h1 {
  font-family: Avenir Next, sans-serif;
  font-size: 48px;
  line-height: 56px;
  color: #134864;
  padding-top: 22px;
}
.blok1_paragraf {
  font-family: Avenir Next, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #3a4f5a;
  width: 470px;
  padding-top: 21px;
  padding-bottom: 35px;
}
.batton_contact {
  font-family: Avenir Next, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: linear-gradient(180deg, #f16529 0%, #e44d26 100%);
  border-radius: 25px;
  padding: 15px 40px;
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
}
.batton_contact:hover {
  font-size: 20px;
  color: #13b31b;
}
.batton_contact:active {
  font-size: 14px;
  color: blue;
}

.batton_learn {
  font-family: Avenir Next, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #007294;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #007294;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 15px 40px;
  text-decoration: none;
  display: inline-block;
}

.blok2 {
  background: #e5e5e5;
}
.blok2_wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  align-items: center;
  padding-bottom: 150px;
}
.blok2_img {
  width: 370px;
}
.blok2_text {
  width: 470px;
}
h2 {
  font-family: Avenir Next, sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #134864;
}
.paragraf {
  font-family: Avenir Next, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #3a4f5a;
  padding-top: 24px;
}
.paragraf_blok2 {
  padding-top: 32px;
}
.offer {
  text-decoration: none;
  font-family: Avenir Next, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #007294;
  border-radius: 25px;
}
.blok3 {
  background: #f2f2f2;
}
.blok3_wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 190px;
  padding-bottom: 150px;
}
.not_list {
  list-style: none;
  font-family: Avenir Next, sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #61727b;
}
.blok3_text {
  width: 470px;
}
.paragraf_blok3 {
  padding-top: 32px;
}
.card_blok {
  background: #007294;
}
.card_blok_wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  padding-bottom: 150px;
}
.card {
  width: 370px;
  background: #0085ad;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
h3 {
  font-family: Avenir Next, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 0;
}
.card p {
  font-family: Avenir Next, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #f2fafc;
  margin-top: 20px;
  margin-bottom: 22px;
}
.card img {
  display: flex;
  background: #1991b5;
  border-radius: 10px;
  padding: 20px 85px;
  align-self: center;
}
.learn_more {
  text-decoration: none;
  font-family: Avenir Next, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  border-radius: 25px;
}
.blok5 {
  background: url(images/bg-blok5.svg);
}
.blok5_wrapper {
  padding: 190px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.blok5 h2 {
  font-weight: 500;
  margin-bottom: 38px;
}
.footer {
  background: #007294;
}
.foo_text1 {
  font-family: Avenir Next, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #f2fafc;
}
.foo_text2 {
  font-family: Avenir Next, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.foo_text3 {
  font-family: Avenir Next, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #f2f8fa;
}
.foo_text4 {
  font-family: Avenir Next, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.send {
  text-decoration: none;
  font-family: Avenir Next, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
ul.list_line {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footer_info {
  display: flex;
  justify-content: space-around;
  padding: 70px 135px;
  align-items: top;
}
.Logo_footer {
  width: 270px;
  padding-right: 30px;
}
.address {
  width: 270px;
  padding-right: 30px;
}
.contacts {
  width: 270px;
  padding-right: 30px;
}
.Feedback {
  width: 270px;
  padding-right: 30px;
}
.hor_line {
  background: #ffffff;
  opacity: 0.2;
}
.copy {
  padding: 36px 135px;
}
